<div class="market-status">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h5 style="font-weight: bold;"> Market status </h5>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-xl-12">
                <!-- <div class="carousel-shadow">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                
               
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="../../../assets/images/5.jpg" alt="Los Angeles" style="width:100%;">
                      </div>
                
                      <div class="item">
                        <img src="../../../assets/images/6.jpg" alt="Chicago" style="width:100%;">
                      </div>
                    
                      <div class="item">
                        <img src="../../../assets/images/7.jpg" alt="New york" style="width:100%;">
                      </div>
                    </div>
                  </div>
            </div> -->

        <div class="owl mt-4">
          <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                          alt="Card image cap">
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/carbon-fiber-shelby-mustang-1600685276.jpg"
                          alt="Card image cap">
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/download.jpeg"
                          alt="Card image cap">
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/how-to-import-foreign-cars-to-india.png"
                          alt="Card image cap">
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                          alt="Card image cap">
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                          alt="Card image cap">
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                          alt="Card image cap">
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                          alt="Card image cap">
                  </div>
              </ng-template>
          </owl-carousel-o>
      </div>
        </div>
      </div>
    </div>
</div>
